/* нужно указать ширину блока*/
.top_menu {
	height: 68px;
	width: 100%;  /* вот так*/
	max-width: 1200px;/* и еще так*/
    margin: 0 auto; /*блок по центру*/ 
    background-color: #b09154
}
.logoimg{
    width: 90px;
    height: 60px;
    margin-top: 3px;
    margin-right: 30px;
    float:left;
}

 li {  
	float:left;
	margin-right: 35px;
	margin-top: 20px;
	list-style:none; /* Убираем маркеры */
}

.reg{
	float:right;
}


/* Вот пример адаптации */
/* Пусть у нас имеется блок */

.block {
   width: 600px;
   height: 300px; /* Зажаем фиксированные размеры блока */
   margin: 0 auto; /* Перемещаем его в центр */
   border:1px solid red; /* Что бы он был виден обромляем бордюром красным */
   margin-top: 20px; /* Отделяем от меню */ 
}


@media only screen and (min-width : 600px) and (max-width : 799px) { 
   
.block {
   width: 500px;
   height: 300px; /* Зажаем фиксированные размеры блока */
   margin: 0 auto; /* Перемещаем его в центр */
   border:1px solid red; /* Что бы он был виден обромляем бордюром красным */
   margin-top: 20px; /* Отделяем от меню */
   background-color: #00A8FD
}


}


@media only screen and (min-width : 400px) and (max-width : 599px) { 
   
.block {
   width: 400px;
   height: 300px; /* Зажаем фиксированные размеры блока */
   margin: 0 auto; /* Перемещаем его в центр */
   border:1px solid red; /* Что бы он был виден обромляем бордюром красным */
   margin-top: 20px; /* Отделяем от меню */ 
   background-color: #343D46
}


}

@media only screen and (min-width : 200px) and (max-width : 399px) { 
   
.block {
   width: 200px;
   height: 300px; /* Зажаем фиксированные размеры блока */
   margin: 0 auto; /* Перемещаем его в центр */
   border:1px solid red; /* Что бы он был виден обромляем бордюром красным */
   margin-top: 20px; /* Отделяем от меню */ 
    background-color: #011A39
}


}


@media only screen and (min-width : 50px) and (max-width : 199px) { 
   
.block {
   width: 50px;
   height: 300px; /* Зажаем фиксированные размеры блока */
   margin: 0 auto; /* Перемещаем его в центр */
   border:1px solid red; /* Что бы он был виден обромляем бордюром красным */
   margin-top: 20px; /* Отделяем от меню */ 
   background-color: #000;
}


}